body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
h1 {
    text-align: left;
    color: #616161;
}

.car-form {
    text-align: center;
    margin: 20px 0;
}

input[type="text"], input[type="number"] {
    padding: 5px;
    margin: 5px;
    width: 200px;
    border: 1px solid #ccc;
}

button#add-car {
    padding: 10px 80px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

thead {
    background-color: #ffffff;
    color: #020202;
}

.edit-button {
    background-color: #28A745;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-button {
    background-color: #DC3545;
    color: #fff;
    border: none;
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
}
