body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: left;
    color: #616161;
}

.button-container {
    text-align: right;
    margin-right: 20px;
    margin-top: 10px;
}

#show-form-button {
    background-color: #28A745;
    color: #fff;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
    padding: 15px 30px;
    cursor: pointer;
}

.employee-form {
    text-align: center;
    margin: 20px 0;
    display: none;
}

input[type="text"], input[type="number"] {
    padding: 5px;
    margin: 5px;
    width: 200px;
    border: 1px solid #ccc;
}

#add-employee {
    background-color: #28A745;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

thead {
    background-color: #ffffff;
    color: #020202;
}

.edit-button {
    background-color: #28A745;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-button {
    background-color: #DC3545;
    color: #fff;
    border: none;
    border-radius: 15px;
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
}


tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}
.imge{

    width:44px;

    height: 42px;

}