/* Dashboard.css */

.dashboard-container {
  padding: 20px;
}

.content-container {
  display: flex;
  justify-content: space-between;
}

.left-panel {
  width: 20%; /* Adjust the width as per your requirement */
  border-right: 1px solid #ccc;
  border-right: 50px;
  padding: 0 30px;
  overflow-y: auto;
  font-size: 10px;
  text-align: center;
}

.post-item {
  cursor: pointer;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.post-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.post-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-details {
  display: flex;
  flex-direction: column;
}

.created-date {
  font-size: 12px;
  color: #888;
}

.right-panel {
  width: 80%; /* Adjust the width as per your requirement */
  padding: 0 20px;
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.user-name {
  font-weight: bold;
}

.left-panel .post-title {
  text-align: right;
  font-size: 15px;
  margin-bottom: 10px;
}

.left-panel .post-image {
  max-width: 40%;
  max-height: 300px; /* Adjust the maximum height as per your requirements */
  border-radius: 10px;
  margin-bottom: 20px;
}

/* For the right panel */
.right-panel .post-image {
  width: 100%;
  height: fit-content;
  border-radius: 2px; /* Adjust border-radius as desired */
  margin-bottom: 20px;
}

.post-content {
  font-family: 'Arial', sans-serif;
  line-height: 1.5;
  color: #333;
}

.comment {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #fff;
}

.comment-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  /* Align items to start */
}

.comment-user {
  display: flex;
  align-items: flex-start; /* Align items to start */
}

.comment-user img {
  width: 30px; /* Adjust size as needed */
  height: 30px; /* Adjust size as needed */
  border-radius: 50%;
  margin-right: 10px;
}

.comment-user span {
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 10px; 
  margin-right: -70px;/* Add margin to separate the username and comment text */
}

.comment-time {
  font-size: 12px;
  color: #888;
  margin-top: 20px;
 margin-right: -70px;
 margin-inline-start: 0%;
 padding-top: 10px;
}

.comment-text {
  font-size: 14px;
  margin-bottom: 5px; 
  text-align: left;
  margin-left: 30px;/* Adjust the margin between the comment text and other elements */
}

.comment-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}

.comment-actions button {
  margin-left: 10px;
  color: #888;
}

.comment:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
