
.post-container {
    height: 100vh;
    padding: 20px;
  }
  
  
  .create-post-button {
    margin-bottom: 20px;
    float: right;
    margin-left: 5px;
  }
  
  
  .search-input {
    width: 200px;
    float: right;
    margin-bottom: 20px;
  }
  
  
  .table-container {
    margin-top: 20px;
  }
  
 
  .file-input-container {
    margin-top: 10px;
  
    input {
      margin-top: 5px;
    }
  }
  .button{
    background-color: rgb(7, 170, 240); 
    color: #fff;
    border: none;
    margin-right: 5px;
}
  .DeleteButton {
    background-color: #ff8c8c; 
    color: #fff;
    border: none;
    margin-right: 5px;
}

.post-form-modal {
    display: block;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    padding: 20px; 
    margin-bottom: 50px;
    min-width: 400px; 
  }
  .post-form-modal .title{
    color: black;
  }
  .post-form-modal .ant-modal-content {
    border-radius: 10px; 
    margin-bottom: 10px;
  }
  
  .post-form-modal .ant-modal-body {
    flex-grow: 3; 
  }
  
  .post-form-modal .ant-form-item {
    margin-bottom: 10px; 
  }
  
  .post-form-modal .ant-form-item-label {
    text-align: left; 
  }
  
  .post-form-modal .ant-form-item-control {
    line-height: 3; 
  }
  
  .post-form-modal .ant-btn {
    width: 100%; 
  }
  