.PostPreview {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1); /* Add box shadow for a subtle effect */
    border-radius: 10px; /* Add border-radius for rounded corners */
}

.PostPreview a.BackButton {
    display: inline-block;
    padding: 5px 10px; /* Adjust the padding as needed */
    margin-bottom: 20px;
    background-color: #a2a2a2; /* Cement color */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px; /* Adjust the font size as needed */
  }
  
.PostPreview button.DeleteButton {
    background-color: #ff8c8c; /* Light red background */
    color: #fff;
    border: none;
    margin-left: 50%;
}

/* Edit and Publish button styles */
.PostPreview .EditButton {
    background-color: #1890ff; /* Blue background */
    color: #fff;
    border: none;
    margin-left: 5px;
    align-items: center; /* Align content vertically in the flex container */
    padding: 5px 10px; /* Add padding for better aesthetics */
    border-radius: 5px; /* Add border-radius for rounded corners */
}
.PostPreview button.PublishButton {
    background-color: #1890ff; /* Blue background */
    color: #fff;
    border: none;
    margin-left: 5px;
}

/* Heading styles */
.PostPreview h1 {
    color: #000;
    font-size: 24px;
    margin-bottom: 10px;
}

/* Image styles */
.PostPreview img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    margin-top: 30px;
    border-radius: 20px;
    align-self: center; 
  
}

/* Content styles */
.PostPreview p {
    font-size: 16px;
    line-height: 1.5;
}
.PostPreview .PostPreviewImage {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}
