.PostPreview {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
}

.PostPreview a.BackButton {
    display: inline-block;
    padding: 5px 10px; 
    margin-bottom: 20px;
    background-color: #a2a2a2;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px; 
  }
  
.PostPreview button.DeleteButton {
    background-color: #ff8c8c; 
    color: #fff;
    border: none;
    margin-left: 50%;
}


.PostPreview .EditButton {
    background-color: #1890ff; 
    color: #fff;
    border: none;
    margin-left: 5px;
    align-items: center; 
    padding: 5px 10px; 
    border-radius: 5px; 
}
.PostPreview button.PublishButton {
    background-color: #1890ff; 
    color: #fff;
    border: none;
    margin-left: 5px;
}


.PostPreview h1 {
    color: #000;
    font-size: 24px;
    margin-bottom: 10px;
}


.PostPreview img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    margin-top: 30px;
    border-radius: 20px;
    align-self: center; 
  
}


.PostPreview p {
    font-size: 16px;
    line-height: 1.5;
}
.PostPreview .PostPreviewImage {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}
