.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #001529;
 height: 70px;
  width: 100%; 
}
body {
  margin: 0;
 margin-top: -15px;
 
}

  .logo-section {
    margin-top: 10px;
    display: flex;
    align-items: center;
  }
  
  .menu-links {
    display: flex;
    margin-left: 20px;
  }
  
  .menu-links a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
  }
  
  
  
  .user-profile {
    color: white;
    text-decoration: none;
  }
  