.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   margin-left: 80px;
    position: relative;
    overflow: hidden; /* Prevent content from overflowing */
}

.signin-form {
    width: 50vw; /* Occupy the left half of the screen */
    max-width: 400px; /* Adjust the maximum width as needed */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1; /* Place the form above the SVG */
    box-sizing: border-box; /* Ensure padding is included in the width */
    overflow: hidden; /* Prevent content from overflowing */
}

.form-content {
    padding: 50px;
}

.right-svg {
    width: 50vw; /* Occupy the right half of the screen */
    height: 100vh; /* Full height of the viewport */
    position: absolute; /* Position it absolutely */
    right: 0;
    top: 0;
    z-index: 0; /* Behind other elements */
    background-size:650px; /* Ensure the SVG covers the div */
    background-repeat: no-repeat; /* Prevent repeating if it's a background image */
    background-position: center; /* Center the image in the div */
    overflow: hidden; /* Prevent content from overflowing */
}
.signin-form .form-content .ant-btn {
    width: 100%; /* Set button width to 100% of its container */
    /* Optional: Add margin at the bottom for spacing */
  }
  
.form-content {
    text-align: center; /* Center-align the form content */
  }
  .spaces{
    margin-top: 0%;
  }
  